body{
  background-image: url("newspaper.jpg");
}

.main-news-container{
  border: 1px solid #c26b68 !important;
  border-radius: 3px !important;
  padding: 0px !important;
}
.challenge-container{
  padding: 10px !important;
  min-height: 229px !important;
  border: 1px solid #00a9de !important;
}
.challenge-button{
  margin-top: 10px;
}
.main-container {
  margin: 0px;
  padding: 10px !important;
  border: 1px solid  #eee;

}

.news-log{
  background-color: #fff;
  max-height: 275px;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid  #6baa35;
  border-radius: 3px;
  margin-bottom: 10px;
}