.main-header{
  width: 100%;
  display: block;
  padding: 10px;
  background-color: #fff;
  border: .5px solid #999;
}

.blog-logo{
  display: inline;
}
.blog-logo > img{
  margin: 0 21px 0px 30px;
  width: 6%;
}

.search-bar{
  display: inline-block !important;
  width: 400px;
  margin: 0px;
}



@media (max-width: 519px) {
  .blog-logo > img{
    margin: 0 21px 0px 30px;
    width: 15%;
  }

  .search-bar {
    display: inline-block !important;
    width: 250px;
    margin: 0px;
  }

}

@media (min-width: 520px) and (max-width: 991px) {

  .blog-logo > img{
    margin: 0 21px 0px 30px;
    width: 8%;
  }

  .search-bar {
    display: inline-block !important;
    width: 350px;
    margin: 0px;
  }

}