<div id="main-nav-links" style="margin:20px 0 10px;" class="text-center">
    <div style="display: inline; border-top: 1px solid #999; padding: 10px">
        <a ng-if="isAuthenticated()" data-ng-click="logout()"> Logout </a>
        <a>Member Log In</a>
        <a>Contact Us</a>
        <a>Privacy Policy</a>
        <a>Terms of Use &amp; Disclaimer</a>
    </div>
    <div style="margin: 10px">
        <p class="small">© Copyright Agency and contributors 2016. ABN 53 001 228 799</p>
    </div>
</div>