<div class="modal-header text-center">
    <h3 class="modal-title" id="modal-title">Beat The Challenge</h3>
</div>
<div class="modal-body" id="modal-body">
    <div align="center">
        <object width="640" height="480">
            <param name="movie" value="http://www.embeddablegames.net/embedgames/tennis.swf">
            <param name="quality" value="high">
            <embed src="http://www.embeddablegames.net/embedgames/tennis.swf" quality="high" width="640" height="400"
                   type="application/x-shockwave-flash"
                   pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
        </object>
        <br/><a href="http://www.knugo.com"><strong>knugo.com</strong></a></div>
    <p>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="close()">Close</button>
</div>