<div class="row">
    <div class="main-container col-sm-10 col-sm-offset-1">
        <div class="col-sm-8 main-news-container">
            <div style="margin: 0px" class="thumbnail">
                <img src="http://lorempixel.com/700/400/sports/"/>
                <div class="caption">
                    <h3>Sample News</h3>
                    <p>Text of preview...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="news-log">
                <div class="media">
                    <div class="media-left">
                        <img src="http://lorempixel.com/100/100/sports/"/>
                    </div>
                    <div class="media-body">
                        <h3>Sample News</h3>
                        <p>Text of preview...</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="http://lorempixel.com/100/100/sports/"/>
                    </div>
                    <div class="media-body">
                        <h3>Sample News</h3>
                        <p>Text of preview...</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="http://lorempixel.com/100/100/sports/"/>
                    </div>
                    <div class="media-body">
                        <h3>Sample News</h3>
                        <p>Text of preview...</p>
                    </div>
                </div>
            </div>
            <div style="margin: 0px" class="thumbnail challenge-container">
                <img src="http://lorempixel.com/300/100/sports/"/>
                <div class="caption">
                    <div class="challenge-button text-center">
                        <button type="button" class=" btn btn-primary">
                            <i class="fa fa-puzzle-piece fa-lg" aria-hidden="true"></i> Weekly Challenge
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


