    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-8">
                <div  class="thumbnail main-news-container">
                    <img src="http://lorempixel.com/700/400/sports/" alt="{{article.multimedia[4].caption}}" ng-src="{{article.multimedia[4].url}}"/>
                    <div class="caption">
                        <h3><a href="{{articles.url}}" target="_blank"> {{articles.title}} </a></h3>
                        <p> {{article.abstract }}</p>
                        <!-- <p class="pull-right"><small>{{article?(articles.byline || 'by ANONYMOUS') :''}}</small></p> -->
                    </div> 
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="news-log">
                    <div data-ng-repeat="item in articles" class="media media-item">
                        <div class="media-left" style="vertical-align: middle">
                            <img  alt="{{item.multimedia[0].caption}}" ng-src="{{item.multimedia[0].url}}"/>
                        </div>
                        <div class="media-body">
                            <h5><a href="{{item.url}}" target="_blank">{{item.title}}</a></h5>
                            <p ><small>{{item.byline || 'by ANONMOUS'  }}</small></p>
                        </div>
                    </div>
                </div>
                <div style="background-image: url('http://lorempixel.com/400/300/sports/')" class="challenge-container">
                    <div class="challenge-button text-center">
                        <button type="button" class=" btn btn-danger btn-lg" ng-click="game()">
                            <i class="fa fa-puzzle-piece fa-lg" aria-hidden="true"></i> Weekly Challenge
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>


