<div class="page-signin">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo" >
                <a href="#/"><img width="240" height="240" src="images/main-logo-big.png"></a>
            </section>
        </div>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container">

                <section class="row signin-social text-center">
                    <button ng-click="auth('facebook')" class="btn btn-block btn-primary btn-facebook" type="button">
        <span class="fa fa-facebook"></span> Sign in with Facebook
        </button>
                </section>

                <span class="line-thru text-center">OR</span>

                <form class="form-horizontal" method="post" data-ng-submit="login()">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email"
                                       class="form-control"
                                       placeholder="Email"
                                       data-ng-model="email"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control"
                                       placeholder="password"
                                       data-ng-model="password"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
                        </div>
                    </fieldset>
                </form>

                <section>
                    <p class="text-center">
						<a href="#/forgot password">Forgot your password?</a>
						</p>
                    <p class="text-center text-muted text-small">
						Don't have an account yet?
						<a href="#/signup">Sign up</a>
						</p>
                </section>

            </div>
        </div>
    </div>

</div>
