<div id="main-nav-links" class="text-center">
    <a><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <div class="dropdown-custom">
        <a> <i class="fa fa-newspaper-o" aria-hidden="true"></i> Trending</a>
        <div id="dropdown-content">
            <a href="#">Most Viewed</a>
            <a href="#">Most Shared</a>
            <a href="#">Most Commented</a>
        </div>
    </div>
    <a> <i class="fa fa-globe" aria-hidden="true"></i> World</a>
    <div class="dropdown-custom">
        <a> <i class="fa fa-university" aria-hidden="true"></i> Politics</a>
        <div id="dropdown-content">
            <a href="#">2016 Elections</a>
            <a href="#">Washington</a>
            <a href="#">Nation</a>
            <a href="#">World</a>
        </div>
    </div>
    <div class="dropdown-custom">
        <a><i class="fa fa-futbol-o" aria-hidden="true"></i> Sports</a>
        <div id="dropdown-content">
            <a href="#">Soccer</a>
            <a href="#">NFL</a>
            <a href="#">NBA</a>
        </div>
    </div>
    <a><i class="fa fa-cubes" aria-hidden="true"></i> Technology</a>
</div>

